/* Enable if we want headers to be numbered like e.g. 1.1 for H2 1.1.3 for H3 */
/*@import "plugins/numbered";*/

.markdown {
  h4, h5, h6 {
    font-weight: bold;
  }

  b, optgroup, strong {
    font-weight: bold;
  }

  dl {
    dt {
      font-weight: bold;
    }
  }
}

body {
  font-family: 'Fira', 'Roboto', sans-serif;
}

.markdown p {
  font-family: 'Charter-Racket', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}
.markdown li {
  font-family: 'Charter-Racket', 'Roboto', sans-serif;
}

.markdown em {
  font-family: 'Charter-Racket', 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
}

.markdown strong {
  font-family: 'Charter-Racket', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.book-section-flat {
  > a,
  > span {
    font-weight: bold;
  }
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: 'Fira', 'Roboto', sans-serif;
}

.markdown h1 {
  padding-top: .75em;
}

.markdown table strong, table em, table p, table li {
  font-family: 'Fira', 'Roboto', sans-serif !important;
}

.book-menu,
.book-toc,
.book-hint,
.book-hint p,
.book-hint em,
.book-hint strong,
.book-expand {
  font-family: 'Fira', 'Roboto', sans-serif;
}

.book-expand-content.markdown-inner p,
.book-expand-content.markdown-inner strong,
.book-expand-content.markdown-inner em {
  font-family: 'Fira', 'Roboto', sans-serif !important;
}

.code {
  font-family: 'Fira-Mono', 'Roboto Mono', monospace;
}

b,
strong {
  font-weight: bold;
}
